<ng-container *ngIf="config">
    <div class="todo-item-container">
        <div class="todo-item-header">
            <span class="todo-item-title">{{config.title}}</span>
            <ng-container *ngIf="!config.completed">
                <mat-checkbox class="example-margin" (change)="onChecked($event)">Complete</mat-checkbox>
            </ng-container>
            <ng-container *ngIf="config.completed">
                <span>Todo Completed!</span>
            </ng-container>
        </div>
        <h3 class="todo-item-subtitle">People</h3>
        <div class="todo-item-content">
            <ng-container *ngFor="let person of config.persons">
                <div class="todo-item">
                    <div class="person-details">
                        <span>{{person.name}}</span> - <span>{{person.age}} years</span>
                    </div>
                    <div class="skills-list">
                        <span>Skills:</span>
                        <ng-container *ngFor="let skill of person.skills">
                            <span>{{skill.description}}, </span>
                        </ng-container>
                    </div>
                </div>
                <hr>
            </ng-container>
        </div>
    </div>
</ng-container>
